*, *:after, *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html, body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
}

body.resizer, body.resizer * {
   cursor: col-resize !important;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none
}

#resizer {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 7px;
   height: 100%;
   border-left: 1px solid #DDD;
   cursor: col-resize;
}

.CodeMirror {
   vertical-align: top;
   display: inline-block;
   width: 50%;
   height: 100%;
}

#preview-wrapper {
   position: relative;
   width: 50%;
   height: 100%;
   display: inline-block;
}

#preview {
   vertical-align: top;
   width: 100%;
   height: 100%;
   overflow: scroll;
   padding: 0 7px;
}

#preview {
   color: #333;
   font-family: Arial,sans-serif;
   font-size: 14px;
   line-height: 1.42857142857143;
}

#preview h1 {
   font-size: 24px;
   font-weight: normal;
   line-height: 1.25;
}

#preview h2 {
   font-size: 20px;
   font-weight: normal;
   line-height: 1.5;
}

#preview h3 {
   font-size: 16px;
   line-height: 1.5;
}

#preview h4 {
   font-size: 14px;
   line-height: 1.42857142857143;
}

#preview h5 {
   color: #707070;
   font-size: 12px;
   line-height: 1.66666666666667;
   margin: 20px 0 0 0;
   text-transform: uppercase;
}

#preview h6 {
   color: #707070;
   font-size: 12px;
   line-height: 1.66666666666667;
}

#preview code,kbd {
   font-family: monospace;
}

#preview blockquote {
   border-left: 1px solid #ccc;
   color: #707070;
   margin-left: 19px;
   padding: 10px 20px;
}

#preview blockquote>cite {
   display: block;
   margin-top: 10px;
}

